<div class="formArray-wrapper">
    <form [formGroup]="userForm">
        <div class="formArray">
           <h2>Add Address</h2>
        </div>
        <div formArrayName="address">
            <div *ngFor="let address of addAddress['controls']; let i = index">
                <div class="addressControl" [formGroupName]="i">
                    <input class="form-control" type="text" formControlName="address" />
                    <button type="button" class="btn" (click)="addNewaddress()">+ ADD</button>
                    <button type="button" class="btn btn-danger" (click)="deleteAddress(i)">-</button>
                </div>
            </div>
        </div>
    </form>
</div>