<h2 class="heading">Employee Details</h2>
<!-- SEARCH DATA -->
<div class="list-header">
    <span class="icon-search"></span>
    <input class="form-control search" type="search" placeholder="Search here..." [(ngModel)]="filterData" />
    <button type="button"(click)="displayOverlay()" class="btn list-btn">+ EMPLOYEE</button>
    <!-- <button type="button" routerLink="/crud-task/employee-form" class="btn list-btn">+ EMPLOYEE</button> -->
</div>

<!-- EMPLOYEE LIST -->
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class="th-checkbox text-center"></th>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Date</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeList | filter: filterData; let i = index;">
                <td class="th-checkbox text-center">
                    <input type="checkbox" />
                </td>
                <td>{{ i+1 }}</td>
                <td>{{ employee.firstName }} {{employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.contactNumber }}</td>
                <td>{{ employee.dateOfEmployment | date:'dd/MM/yyyy' }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.deparmentList | departmentList: deparmentList}}</td>
                <td>
                    <a (click)="editEmployee(employee.id)">
                        <span class="action-icons icon-pencil"></span>
                    </a>
                    <a (click)="showDeletePopup(employee.id)">
                        <span class="action-icons icon-bin"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>