// Theme Primary Color
$primary: #626262;

// Mainly use for UI controls like Buttons
$secondary: #616ba3;

// Mainly use for Normal Text color
$gray: #989d9e;
$white: #ffffff;

// Body
$body-color: $primary;
$body-bg: #f7f8fa;
$nav-link-bg: #eaedfc;

// Border
$border-color: #efefef;

// Sidebar
$sidebar-bg: $white;
$nav-link-hover-color: $secondary;
$nav-link-hover-bg: $nav-link-bg;
$nav-tabs-link-active-bg: $nav-link-bg;

// Form controls
$input-placeholder-color: #c3c4c6;