// Body
$font-family-base: 'Poppins', sans-serif;
$font-weight-base: 500;

// Sidebar
$nav-link-padding-x: .75rem;
$nav-link-padding-y: .75rem;
$nav-tabs-border-radius: 1rem;
$side-nav-height: 60px;

// Border
// $border-width: 1px;

// Form controls
$input-font-weight: 300;
