<div class="mt-5 table-wrapper">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>company</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.data$ | async">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.company }}</td>
            <td>
                <button type="button" (click)="editItem(item)">Edit</button>
                <button type="button" (click)="deleteItem(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>