<div class="createForm bg-white p-4 rounded-3">
    <div class="row">
        <div class="col-4">
            <form [formGroup]="shoppingForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="name">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                
                <button type="button" class="btn btn-outline-danger me-3" (click)="onReset()">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shoopingList of shoppingList; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ shoopingList.name }}</td>
                        <td>{{ shoopingList.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-primary me-3" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="onSaveList()">View</button>
    </div>
</div>