#checkmark {
  display: none;
}
.search {
  width: 280px;
  padding-left: 36px;
  background-color: $white;
  transition: $transition-base;
  // &:focus {
  //   width: 500px;
  // }
}
.createForm{
  width: 900px;
}