.heading {
  color: #1e1f21;
}
.list-header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  position: relative;

  .search {
    width: 280px;
    padding-left: 36px;
    transition: all 0.3s ease-in-out;
    &:focus {
      width: 500px;
    }
  }
}
.table-wrapper {
  overflow: auto;

  th,
  td {
    text-align: left;
    font-weight: 300;
    color: #626262;
    border-bottom: 1px solid #ddd;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    tr th {
      padding: 8px;
      color: #c3c4c6;
    }
    tr td {
      padding: 20px 12px;
      font-weight: 500;
    }
  }
  .th-checkbox input {
    width: auto;
    border-color: #c3c4c6;
  }
}

@media (max-width: 768px) {
  .list-header {
    display: block;
    .search {
      width: 100%;
      padding-left: 36px;
    }
  }
  .list-btn {
    margin-top: 20px;
    padding: 9px 10px;
  }
}
