.add-field {
  width: 50px;
  padding: 4px 4px;
}
// .tech-field{
//   width: 33.33%;
// }
.add-field,
.delete-field {
  outline: none;
  border: none;
  border-radius: 6px;
  color: white;
  margin: 16px 0px;
}
.add-field {
  background-color: #007bff;
  border-color: #007bff;
}
.delete-field {
  background-color: red;
  margin: 0;
  margin-left: 8px;
  padding: 1px 15px;
  font-size: 1.6rem;
}
