<button routerLink="/resume-builder/resume-list-view" class="btn btn-primary">
  Back
</button>
<div class="form-wrapper">
  <h3>Add Your Details</h3>
  {{ resumeForm.value | json }}
  <form *ngIf="resumeForm" [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
    <div class="input-data">
      <label for="name">Name</label><br>
      <input type="text" formControlName="name" />
      <div class="error-display"
        *ngIf="getValues['name'].touched || (getValues['name'].dirty && getValues['name'].invalid)">
        <span style="color: red;" *ngIf="getValues['name'].errors && getValues['name'].errors['required']">Name is
          required.</span>
      </div>
    </div>
    <div class="input-data">
      <label for="name">Designation</label><br>
      <input type="text" formControlName="designation" />
    </div>
    <div class="input-data">
      <label for="name">Email</label><br>
      <input type="text" formControlName="email" />
    </div>
    <div class="input-data">
      <label for="name">Contact Number</label><br>
      <input type="number" formControlName="contactNumber" />
    </div>
    <!-- <div class="input-data" formArrayName="skills">
      <label for="name">Technical Skill</label><br>
      <div *ngFor="let skill of getSkill; let i = index;">
        <div formGroupName="i">
          <input type="text" formControlName="techSkills" />
        </div>
      </div>
      <button (click)="addSkill()">+ ADD SKILL</button>
    </div> -->
    <!-- <div class="mb-3 col-3" formArrayName="skills" *ngFor="let skill of getSkill;let i = index">
      <label>Skills</label>
      <div formGroupName="i" class="d-flex">
        <input type="text" formControlName="techSkills" class="form-control" placeholder="Technical Skills">
        <button class="btn-warning" (click)="deleteSkills(i)">
                    delete
                </button>
      </div>
    </div> -->
    <div>
      <button (click)="addNewSkill()">+ ADD</button>
    </div>
    skill <input formControlName="techSkills" />
    <div *ngFor="let skill of skills; let i = index;" formGroupName="addNewSkill">
      techSkill : {{ i }}
      <!-- <div> -->

      <!-- </div> -->
    </div>
    <!-- Experience -->
    <div class="" formGroupName="experienceInfo">
      <fieldset>
        <legend>Experience:</legend>
        <div>
          <label>Company</label><br>
          <input type="text" formControlName="company" />
        </div>
        <div>
          <label>Position</label><br>
          <input type="text" formControlName="position" />
        </div>
        <div>
          <label>Description</label><br>
          <textarea cols="10" rows="4" formControlName="description"></textarea>
        </div>
        <div>
          <label>Duration</label><br>
          <input type="text" formControlName="duration" />
        </div>
      </fieldset>
    </div>
    <!-- Education -->
    <div class="input-data">
      <fieldset>
        <legend>Education:</legend>
        <div>
          <label for="name">University</label><br>
          <input type="text" />
        </div>
        <div>
          <label for="name">Result</label><br>
          <input type="text" />
        </div>
        <button>+ ADD</button>
      </fieldset>
    </div>
    <div class="input-data">
      <label for="name">Education</label><br>
      <input type="text" />
    </div>
    <div class="input-data">
      <button class="btn-submit" type="submit">Submit</button>
    </div>
  </form>
</div>