.aside {
  height: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.719);
  width: 300px;

  .header-title {
    height: 56px;
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.list-wrap{
  padding: 1rem;
  border: 1px solid red;
  justify-content: space-between;
  
  ul{
    flex-grow: 1;
    
  }
}
ul{

  li{
    border: 2px solid blue;
    margin-bottom: 4px;
    padding: 0.56rem 0.56rem;
  }
}