<input type="checkbox" id="checkmark" />
<aside class="aside d-flex flex-column">
    <div class="header d-flex align-center">
        <label class="checkbox-label" for="checkmark">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </label>
        <a class="header-title" routerLink="/">Angular Basics</a>
    </div>
    <ul class="nav-list d-flex flex-column flex-grow-1">
        <!-- <li class="nav-item">
            <a class="nav-link d-flex align-center" routerLink="/dataBinding" routerLinkActive="active">
                <div class="icons icon-file-text2"></div>
                <span>Data Binding</span>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link d-flex align-center" routerLink="/crud-task" routerLinkActive="active">
                <div class="icons icon-file-text2"></div>
                <span>CRUD Operation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-center" routerLink="/resume-builder" routerLinkActive="active">
                <div class="icons icon-clipboard"></div>
                <span>Resume Builder</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-center" routerLink="/user" routerLinkActive="active">
                <div class="icons icon-magic-wand"></div>
                <span>User/ Assessment</span>
            </a>
        </li>
    </ul>
    <ul class="nav-list nav-footer">
        <li class="nav-item">
            <a class="nav-link d-flex align-center">
                <div class="icons icon-switch"></div>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</aside>