<aside class="aside d-flex flex-column">
    <div class="header-title">
        <a routerLink="/">Angular Basics</a>
    </div>
    <div class="list-wrap d-flex flex-column flex-grow">
        <ul>
            <li>
                <a class="routerLink" routerLink="/crud-task" routerLinkActive="active">CRUD Operation</a>
            </li>
            <li>
                <a class="routerLink" routerLink="/resume-builder" routerLinkActive="active">Resume Builder</a>
            </li>
            <li>
                <a class="routerLink" routerLink="/user" routerLinkActive="active">User/ Assessment</a>
            </li>
        </ul>
        <footer>
            <a>Logout</a>
        </footer>
    </div>
</aside>