<div class="userNav">
    <h2 class="nav-heading mt-2">User List</h2>
    <div class="wrapper d-flex">
        <button type="button" routerLink="/user/userForm" class="btn mr-2">+ CREATE</button>
        <input class="form-control my-2 w-50 mr-2" type="search" placeholder="Search by name" [(ngModel)]="filterData" />
        <input class="form-control my-2 w-50 mr-2" type="search" placeholder="Search by department" />
        <input class="form-control my-2 w-50" type="search" placeholder="Search by city" />
    </div>
</div>