<button class="btn" routerLink="/mvpUser/form">Form</button>

<div class="pb-4">
    <h2>List of Users</h2>
  </div>
  
  <table class="table caption-top border">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let item of employeeList">
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>
          <!-- <button class="btn btn-primary me-2" (click)="onEdit(item)">Edit</button>
          <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>