<div class="container">
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <!-- <th>Action</th> -->
        </thead>
        <tbody>
            <tr *ngFor="let filedata of fileList">
                <td>{{filedata.name}}</td>
                <td>{{filedata.size}} mb</td>
                <td>{{filedata.type}}</td>
                <!-- <td><button class="btn btn-danger" (click)="deleteFile(filedata.id)">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
</div>

<div class="container border rounded-3 mt-5 p-5">
    <form [formGroup]="dateForm">
        <label for="fromDate">From:</label>
        <input type="date" id="fromDate" formControlName="fromDate" (change)="readStartDate($event)" max="{{endDate}}">

        <label class="ms-4" for="toDate">To:</label>
        <input type="date" id="toDate" formArrayName="toDate" (change)="readendDate($event)" min="{{startDate}}">
    </form>
</div>
