.aside {
  .header-title {
    font-size: 1.5rem;
    text-decoration: none;
  }
  .header-title,
  span {
    transition: $transition-base;
    white-space: nowrap;
  }
  background-color: $sidebar-bg;
  .side-nav-brand {
    flex: 0 0 $side-nav-height;
    height: $side-nav-height;
  }
  .nav {
    border-top: $border-width solid $border-color;
    &-link {
      border-radius: $nav-tabs-border-radius;
      &:hover,
      &.active {
        background-color: $nav-link-hover-bg;
        color: $nav-link-hover-color;
      }
    }
  }
}

#checkmark:checked ~ .sidebar {
  width: 70px;
  .nav-link {
    width: 56px;
    transition: $transition-base;
  }
  .header-title,
  span {
    transform: translateX(80px);
    opacity: 0;
  }
}
