* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  line-height: 1.6;
}

body {
  overflow: hidden;
}

// start: common
.text-center {
  text-align: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

// start: flex proporties
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
// end: flex proporties
.mr-2 {
  margin-right: 12px;
}
ul {
  li {
    list-style-type: none;
    margin-bottom: 8px;
  }
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.btn {
  border: none;
  background-color: #2f55e4;
  color: white;
  padding: 10px 24px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.96rem;

  &.btn-success {
    background-color: #156844;
    margin-right: 16px;
  }
  &.btn-danger {
    background-color: #d11d1d;
  }
}

// form
.form-control,
.form-select {
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  // width: 400px;
  padding: 8px 12px;
  background-color: #ffffff;
}
.form-control:focus, .form-select:focus {
  box-shadow: 0 0 2.5px #0087ff;
}
.form-wrapper {
  margin-top: 32px;
  background-color: white;
  border-radius: 8px;
  padding: 16px 16px;

  .form-group {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 16px;
  }
  .form-group-btn {
    padding: 0 16px 16px;
    display: flex;
    justify-content: flex-end;
  }
}
input[type="radio"] {
  width: auto;
}

// TABLE
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
}
.table {
  width: 100%;
  th{
    padding: 8px;
    color: #c3c4c6;
  }
  td{
    padding: 20px 12px;
    font-weight: 500;
  }
}
.th-checkbox input{
  width: auto;
  border-color: #c3c4c6;
}

th,
td {
  text-align: left;
  font-weight: 300;
  color: #717171;
  border-bottom: 1px solid #ddd;
}
.heading {
  color: #1e1f21;
}
.list-header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.search {
  width: 400px;
}

// errors
#error-display,
.required {
  color: red;
}


// sidebar
#checkmark {
  display: none;
}

#checkmark~.aside{
  width: 70px;
  transition: all ease-in-out .4s;
  
  .header-title, .nav-link {
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
  }

  .checkbox-label{
    .line{
      height: 3px;
      width: 20px;
      margin: 3px;
      background-color: red;
      transition: all ease-in-out .4s;
      &1, &3 {
        transform: translate(0) rotate(0);
      }
    }

  }

  .header-title, .nav-item{
    width: 280px;
  }
}

#checkmark:checked~.aside{
  width: 300px;
  overflow-x: hidden;

  .header-title, .nav-link {
    transform: translateX(0);
  }

  .checkbox-label{
    .line {
      &1 {
        transform: translateY(6px) rotate(45deg);
      }
      &3 {
        transform: translateY(-6px) rotate(-45deg);
      }
      &2 {
        transform: scaleX(0);
      }
    }
  }
}

