* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  line-height: 1.6;
}

body {
  overflow: hidden;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 23px;
}

th,
td {
  padding: 8px;
  text-align: left;
  font-weight: 300;
  color: #6a6a6a;
  border-bottom: 1px solid #ddd;
}
td {
  font-weight: 600;
  // color: #848484;
}
.text-center {
  text-align: center;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-grow-1 {
  flex-grow: 1;
}
.justify-center {
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
ul {
  li {
    list-style-type: none;
    margin-bottom: 8px;
  }
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.btn {
  border: none;
  background-color: #2f55e4;
  color: white;
  padding: 10px 24px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.96rem;

  &.btn-success {
    background-color: #156844;
    margin-right: 16px;
  }
  &.btn-danger {
    background-color: #d11d1d;
  }
}
input,
textarea,
select {
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  // width: 400px;
  padding: 8px 12px;
  background-color: #ffffff;
}
.form-wrapper {
  margin-top: 32px;
  background-color: white;
  border-radius: 8px;
  padding: 16px 16px;

  .form-group {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 16px;
  }
  .form-group-btn {
    padding: 0 16px 16px;
    display: flex;
    justify-content: flex-end;
  }
}
input[type="radio"] {
  width: auto;
}
.table {
  width: 100%;
}
.mr-2 {
  margin-right: 12px;
}
.list-header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
