<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class="th-checkbox text-center"></th>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Date</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index;">
                <td class="th-checkbox text-center">
                    <input type="checkbox" />
                </td>
                <td>{{ i+1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.dateOfHire }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.deparmentList | department: department }}</td>
                <td>
                    <a (click)="editUser(user.id)">
                        <span class="action-icons icon-pencil"></span>
                    </a>
                    <a (click)="deleteUser(user.id)">
                        <span class="action-icons icon-bin"></span>
                    </a>
                    <a class="btn">Details</a>
                    <!-- <button class="btn-view" (click)="viewUserDetails(user.id)">Details</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>