<h2 class="heading">User Details</h2>
<!-- SEARCH DATA -->
<div class="list-header">
    <span class="icon-search"></span>
    <input class="form-control search" type="search" placeholder="Search here..." />
    <button routerLink="/resume-builder/resume-form" class="btn">+ USER</button>
    <!-- <button routerLink="/resume-builder/resume-view" class="btn">View Resume</button> -->
</div>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class="th-checkbox text-center"></th>
                <th>Sr No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resumeDetail of resumeDetails; let i = index;">
                <td class="th-checkbox text-center">
                    <input type="checkbox" />
                </td>
                <td>{{ resumeDetail.id }}</td>
                <td>{{ resumeDetail.name }}</td>
                <td>{{ resumeDetail.email }}</td>
                <td>
                    <!-- <button class="btn-view" (click)="viewUserResume(resumeDetail.id)">View</button> -->
                    <a (click)="viewUserResume(resumeDetail.id)">View</a>
                    <a (click)="deleteUser(resumeDetail.id)">
                        <span class="action-icons icon-bin"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>